
<form class="formulario"> 

    <div class="contenedor">
        
        <img src="https://image.flaticon.com/icons/png/512/16/16363.png">

        <div class="input-contenedor">
            <input type="text" placeholder="Nobre de usuario">
        </div>    

        <div class="input-contenedor">
            <input type="password" placeholder="Contraseña"> 
        </div>

        <input type= "submit" value= "Ingresar" class="botton">
       
        <a class="link" routerLink="/registerpatient">Registrarse</a>
    </div>
</form>




