
<div class="view-login">
    <form class="form"> 
        <div class="form-container">
            <figure class="icon-login-container">
                <img class="img icon-login" src="assets/images/icons/user.png">
            </figure>
            
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Nombre de usuario">
                <figure class="form-control-icon">
                    <img class="img" src="assets/images/icons/user-icon.png" alt="icon user">
                </figure>
            </div>    
            
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Contraseña"> 
                <figure class="form-control-icon">
                    <img class="img" src="assets/images/icons/no-visibility.png" alt="pass visibility">
                </figure>
            </div>
            
        <input (click)="login()" type= "button" value= "Ingresar" class="btn btn-submit">
        </div>
    </form>
</div>




