<div class="container test-container">
    <p class="test-intructions">Selecciona la frecuencia con la que te ocurren las siguientes situaciones. No hay respuestas buenas ni malas.</p>
    <div class="test-content">
        <h2 class="test-name title">Escala de Ansiedad de <span>Nombre de test</span></h2>
        <div class="test-question-container">
            <h3 class="question-text">Hay cosas que me preocupan</h3>
            <figure class="question-image-container">
                <img class="img" src="assets/images/questions/preocupacion.png" alt="">
            </figure>
        </div>  
        <div class="container-answers">
            <div class="container-answer">
                <figure class="answer-image">
                    <img class="img" src="assets/images/answers/nunca.png" alt="nunca">
                </figure>
                <p class="answer-text">Nunca</p>
            </div>
            <div class="container-answer">
                <figure class="answer-image">
                    <img class="img" src="assets/images/answers/aveces.png" alt="A veces">
                </figure>
                <p class="answer-text">A veces</p>
            </div>
            <div class="container-answer">
                <figure class="answer-image">
                    <img class="img" src="assets/images/answers/muchasveces.png" alt="nunca">
                </figure>
                <p class="answer-text">Muchas veces</p>
            </div>
            <div class="container-answer">
                <figure class="answer-image">
                    <img class="img" src="assets/images/answers/siempre.png" alt="nunca">
                </figure>
                <p class="answer-text">Siempre</p>
            </div>
            <div class="button-next-container">
                <input type= "button" value= "Siguiente" class="btn btn-primary btn-submit">
            </div>
        </div>
    </div>
</div>