<loading-overlay *ngIf="isLoading"></loading-overlay>
<div class="container test-container" *ngIf="test">
    <p class="test-intructions">Selecciona la frecuencia con la que te ocurren las siguientes situaciones. No hay respuestas buenas ni malas.</p>
    <div class="test-content" *ngIf="questions[con]; else finalizar">
        <h2 class="test-name title"> {{ test.nombre }} </h2>
        <div class="test-question-container">
            <h3 class="question-text"> {{ questions[con].nombre }} </h3>
            <figure class="question-image-container">
                <img class="img" src="assets/images/questions/{{questions[con].id_pregunta}}.jpg" alt="">
            </figure>
        </div>  
        <div class="container-answers">
            <div class="container-answer" *ngFor="let answer of answers[questions[con].tipo_respuestas]">
                <figure class="answer-image" 
                        [ngClass]="{
                            'answer-image-primary': opcionActiva === 'nunca'
                         }">
                    <img class="img" src="assets/images/answers/{{ answer.ulr_imagen }}" alt="nunca" (click)="checkAnswer('nunca')">
                </figure>
                <p class="answer-text"> {{answer.opcion}} </p>
            </div>
            <!-- 
            <div class="container-answer">
                <figure class="answer-image" 
                        [ngClass]="{
                            'answer-image-primary': opcionActiva === 'veces'
                        }">
                    <img class="img" src="assets/images/answers/aveces.png" alt="A veces" (click)="checkAnswer('veces')">
                </figure>
                <p class="answer-text">A veces</p>
            </div>
            <div class="container-answer">
                <figure class="answer-image" 
                        [ngClass]="{
                            'answer-image-primary': opcionActiva === 'muchas'
                        }">
                    <img class="img" src="assets/images/answers/muchasveces.png" alt="muchas veces" (click)="checkAnswer('muchas')">
                </figure>
                <p class="answer-text">Muchas veces</p>
            </div>
            <div class="container-answer">
                <figure class="answer-image" 
                        [ngClass]="{
                            'answer-image-primary': opcionActiva === 'siempre'
                        }">
                    <img class="img" src="assets/images/answers/siempre.png" alt="siempre" (click)="checkAnswer('siempre')">
                </figure>
                <p class="answer-text">Siempre</p>
            </div>
            -->            
            <div class="button-next-container">
                <input type= "button" value= "Siguiente" class="btn btn-primary btn-submit" (click)="siguiente()">
            </div>
                   
        </div>
    </div>

    
    <ng-template #finalizar>
        <div class="button-end-container">
            <input type= "button" value= "Finalizar" class="btn btn-primary btn-submit" (click)="concluir()">
        </div>
    </ng-template>

</div>