<div class="container">
    <p class="test-intructions">Selecciona la frecuencia con la que te ocurren las siguientes situaciones. No hay respuestas buenas ni malas.</p>
    <hr>
    <div class="test-content">
        <h2 class="test-name title">Escala de Ansiedad de <span>Nombre de test</span></h2>
        <div class="test-question-container">
            <h3 class="question-text">Hay cosas que me preocupan</h3>
            <figure class="question-image-container">
                <img class="img" src="assets/images/preocupacion.png" alt="">
            </figure>
        </div>  
        <div class="container-answers">
            <figure>
                <img class="img" src="" alt="nunca">
                <caption class="answer-text">Nunca</caption>
            </figure>
            <figure>
                <img class="img" src="" alt="a veces">
                <caption class="answer-text">A veces</caption>
            </figure>
            <figure>
                <img class="img" src="" alt="muchas veces">
                <caption class="answer-text">Muchas veces</caption>
            </figure> 
            <figure>
                <img class="img" src="" alt="siempre">
                <caption class="answer-text">Siempre</caption>
            </figure>
            <input type= "button" value= "Siguiente" class="btn btn-primary btn-submit">
        </div>
    </div>
</div>