<loading-overlay *ngIf="isLoading"></loading-overlay>
<div class="container">
    <h2 class="title">Pacientes registrados</h2>
    <ul class="items">
        <li class="item" *ngFor="let patient of patients">
            <div class="item-info">
                <figure>
                    <img class="img" [src]="patient.genero | avatarPatient" alt="icono de usuario">
                </figure>
                <h3 class="item-name">{{patient.nombre}} {{patient.ap_paterno}} {{patient.ap_materno}}</h3>
                <figure class="no-responsive">
                    <img class="img" src="assets/images/icons/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas(patient.usuario)">Ver mas</button>
        </li>
    </ul>
</div>