<div class="container">
    <h2 class="title">Pacientes registrados</h2>
    <ul class="items">
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li> 
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
                <figure>
                    <img class="img" src="assets/images/calendario.png" alt="estado de test">
                </figure>
            </div>
            <button class="btn btn-primary" (click)="onClickVerMas()">Ver mas</button>
        </li>
    </ul>
</div>