

<div class="container">
    <h2>Seleccione el tipo de pregunta para visualizarlo</h2>

    <div class="row">
        <select name="selectTipoRespuesta" [(ngModel)]="seleccionado" (change)="seleccionarTipo()" class="custom-select">
            <option value="0">Selecciona un tipo de pregunta:</option>
            <option [value]="tipo.tipo_respuesta" *ngFor="let tipo of tipo_respuesta">{{ tipo.tipo_respuesta }}</option>
        </select>
    </div>

    <div class="row"
         *ngIf="verSeleccion">
        <div *ngFor="let respuesta of tipo_respuesta[verSeleccion].respuestas">
            {{ respuesta.opcion }}
            {{ respuesta.puntos }}
            {{ respuesta.url_imagen }}
        </div>
    </div>

    <form (ngSubmit)="guardar()" [formGroup]="tipoRespuestaForm" autocomplete="off" >
        <p>Añada respuestas si desea añadir un nuevo tipo de pregunta que integrar al test</p>
        
        <ul>
            <ol *ngFor="let respuesta of respuestaArray.controls; let i = index">
                <app-respuesta-form [respuestaForm]="respuesta"
                [arrayIndex]="i"
                [numRespuestas]="respuestaArray.length"
                (eliminarRespuestaEvent)="eliminarRespuesta( $event )"> 
                </app-respuesta-form>
            </ol>
        </ul>

        <button type="button"
                (click)="agregarRespuesta()"
                *ngIf="respuestaArray.length<5; else respuestasMaxAdvertencia">
            Añadir respuesta
        </button>

        <ng-template #respuestasMaxAdvertencia>
            <span> Cinco es el máximo numero de respuestas que puedes añadir </span>
        </ng-template>

        <div class="row">
            <button class="btn btn-primary float-end" type="submit">
                Subir
            </button>
	    </div>
    </form>
</div>

