<form [formGroup]="preguntasForm" autocomplete="off">

    <h4>
        Pregunta {{ arrayIndex + 1 }}
    </h4>
    <div class="row">
        <div>

            <!-- Input y validaciones para NOMBRE-->
            <div class="row">
                <label clas="form-label "for="nombre">
                    Ingrese la pregunta
                    <span *ngIf="nombreCampo?.hasError( 'required' ) && nombreCampo.touched" class="text-danger">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="text" 
                       name="nombre" 
                       id="nombre"
                       formControlName="nombre"
                       placeholder="Pregunta"
                       class="form-control">

                <div *ngIf="preguntasForm?.get( 'nombre' ).errors">
                    <span *ngIf="preguntasForm?.get( 'nombre' ).errors.minlength && nombreCampo.touched" class="text-danger">
                        Tiene que tener por lo menos quince dígitos.
                    </span>
                </div>
                
                <div *ngIf="preguntasForm?.get( 'nombre' ).errors">
                    <span *ngIf="preguntasForm?.get( 'nombre' ).errors.maxlength && nombreCampo.touched" class="text-danger">
                        Tiene que tener como máximo 150 dígitos.
                    </span>
                </div>
            </div>

            <!-- Input y validaciones para DESCRIPCION-->
            <div class="row">
                <label class="form-label" for="descripcion">
                    Descripcion
                    <span *ngIf="descripcionCampo?.hasError( 'required' ) && descripcionCampo.touched" class="text-danger">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="text" class="form-control"
                       placeholder="Añada una descripción que haga la pregunta más entendible"
                       name="descripcion" 
                       id="descripcion"
                       formControlName="descripcion">

                <div *ngIf="preguntasForm?.get( 'descripcion' ).errors">
                    <span *ngIf="preguntasForm?.get( 'descripcion' ).errors.minlength && descripcionCampo.touched" class="text-danger">
                        Tiene que tener por lo menos diez dígitos.
                    </span>
                </div>
                
                <div *ngIf="preguntasForm?.get( 'descripcion' ).errors">
                    <span *ngIf="preguntasForm?.get( 'descripcion' ).errors.maxlength && descripcionCampo.touched" class="text-danger">
                        Tiene que tener como máximo 200 dígitos.
                    </span>
                </div>
            </div>

            <!-- lista desplegable -->
            <div class="row">
                <label for="idRespuesta" class="form-label">
                    Tipo de respuesta
                    <span *ngIf="idRespuestaCampo?.hasError( 'required' ) && idRespuestaCampo.touched" class="text-danger">
                        Por favor, seleccione una opción
                    </span>
                </label>
                <select formControlName="idRespuesta" class="form-select">
                    <option [ngValue]="null" disabled>Elija el tipo de respuesta</option>
                    <option [ngValue]="tipos_Respuesta[i].tipo_respuesta" 
                            *ngFor="let tipo of tipos_Respuesta; let i = index">
                        {{ tipos_Respuesta[i].tipo_respuesta }}
                    </option>
                </select>            
            </div>
            
            <!-- Input y validaciones para URL-->
            <div class="row">
                <label for="url_imagen" class="form-label">
                    Url de la imagen
                    <span *ngIf="urlCampo?.hasError( 'required' ) && urlCampo.touched" class="text-danger">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="text"  class="form-control"
                       name="url_imagen" 
                       id="url_imagen"
                       placeholder="Ingrese un enlace de internet que tenga la terminación .jpg, png, jpeg..."
                       formControlName="url_imagen">
                <div *ngIf="preguntasForm?.get( 'url_imagen' ).errors">
                    <span *ngIf="preguntasForm?.get( 'url_imagen' ).errors.maxlength && urlCampo.touched" class="text-danger">
                        Tiene que tener como máximo 200 dígitos.
                    </span>
                </div>
                <span *ngIf="urlCampo?.hasError( 'pattern' ) && urlCampo.touched" class="text-danger">
                    El url debe terminar en .jpg o .png
                    <br>
                    Ej: <i>https://angular.io/assets/images/logos/angular/logo-nav@2x.png</i>
                </span>
            </div>
            <!-- Input y validaciones para FACTOR-->
            <div class="row">
                <label for="factor" class="form-label">
                    Factor
                    <span *ngIf="factorCampo?.hasError( 'required' ) && factorCampo.touched" class="text-danger">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="text" class="form-control"
                       name="factor" 
                       id="factor"
                       placeholder="Ingrese a qué factor puntúa esta pregunta"
                       formControlName="factor">

                <div *ngIf="preguntasForm?.get( 'factor' ).errors">
                    <span *ngIf="preguntasForm?.get( 'factor' ).errors.minlength && factorCampo.touched" class="text-danger">
                        Tiene que tener por lo menos cinco dígitos.
                    </span>
                </div>
                
                <div *ngIf="preguntasForm?.get( 'factor' ).errors">
                    <span *ngIf="preguntasForm?.get( 'factor' ).errors.maxlength && factorCampo.touched" class="text-danger">
                        Tiene que tener como máximo 100 dígitos.
                    </span>
                </div>
            </div>

            <button *ngIf="numPreguntas > 5"
                class="btn btn-danger"
                type="button"
                (click)="eliminarPregunta( arrayIndex )">
                Eliminar
            </button>

        </div>
    </div>
</form>
