    <!--
    {{
        (test.id)
        ? 'Editar'
        : 'Nuevo'
    }}
    -->
<div>
    <div class="row align-items-start">
        <div class="col-md-8">

            <!--Encabezado del test (info general)-->
            <div class="container">

                
                <h2 class="title">Test 
                    <br>
                    <small>Nuevo test</small>
                </h2>
                <hr>

                <div class = "form-container test-form-container">
                    <form (ngSubmit)="guardar()" [formGroup]="testForm">
                        <h2>Información del test</h2>
                        
                        <div class="test-row">
                            <!-- NOMBRE -->
                            <label class="test-form-label">Nombre</label>
                            <div class="test-input">
                                <input class = "form-control mb-2"
                                        placeholder="Nombre del test"
                                        formControlName="nombre">
                                    <span class="form-text text-danger mb-2"
                                        *ngIf="campoEsValido( 'nombre' )">
                                            El nombre debe tener al menos cuatro letras y máximo 100
                                    </span>
                            </div>

                            <!-- ENFOQUE -->
                            <label>Enfoque</label>
                            <div class="test-input">
                                <input class = "form-control mb-2"
                                        placeholder="Enfoque del test"
                                        formControlName="enfoque">
                                    <span class="form-text text-danger mb-2"
                                        *ngIf="campoEsValido( 'enfoque' )">
                                            El enfoque debe contener al menos cuatro letras y máximo 50
                                    </span>
                            </div>

                            <!-- PALABRA CLAVE -->
                            <label>Palabra clave</label>
                            <br>
                            <label><i>Ej: Spence, Zarit...</i></label>
                            <div class="test-input">
                                <input class = "form-control mb-2"
                                        placeholder="Palabra que ayude a identificar el test"
                                        formControlName="keyword">
                                    <span class="form-text text-danger mb-3"
                                        *ngIf="campoEsValido( 'keyword' )">
                                            Debe contener al menos cuatro letras y máximo quince
                                    </span>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <!--Formulario dinámico para las preguntas-->
            <div class="rounded container bg-light my-5 ml-5 mr-5 p-5">
                <form (ngSubmit)="guardar()" [formGroup]="preguntasTestForm" autocomplete="off" >
                    <h2>Añadir preguntas</h2>
                    <p><i>Ingrese las preguntas de su nuevo test</i></p>
                    <hr>
                        <div *ngFor="let pregunta of preguntasArray.controls; let i = index"
                             class="rounded">
                            <app-pregunta-form [preguntasForm]="pregunta"
                            [arrayIndex]="i"
                            [numPreguntas]="preguntasArray.length"
                            [tipos_Respuesta]="tiposFromChild"
                            (eliminarPreguntaEvent)="eliminarPregunta( $event )"> 
                            </app-pregunta-form>
                            <hr>
                        </div>

                        
                    <div *ngIf="preguntasArray.length===0">
                        <span class="text-danger"> Es importante que agregue al menos una pregunta y rellene correctamente los campos requeridos. </span>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-success"
                                    (click)="agregarPregunta()"
                                    *ngIf="preguntasArray.length<45; else preguntasMaxAdvertencia">
                                Añadir pregunta
                            </button>
                        </div>
                    </div>
                    
                        
                    <ng-template #preguntasMaxAdvertencia>
                        <span class="text-danger"> Cuarenta y cinco es el máximo numero de pregunta que puedes añadir </span>
                    </ng-template>


            
                    <div class="row">
                        <button class="btn btn-primary float-end" type="submit">
                            Cargar test
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <app-tipos-respuesta (tiposFromChild)="getTiposRespuesta($event)"></app-tipos-respuesta>
        </div>
    </div>
</div>