<loading-overlay *ngIf="isLoading"></loading-overlay>

<div class="container set-test">
    <h2 class="title">Asignar test: </h2>


            <div>
                <select name="miselect" [(ngModel)]="seleccionado" (change)="seleccionarTest()" class="custom-select">
                    <option value="0">Selecciona un test:</option>
                    <option [value]="item.id_test" *ngFor="let item of tests">{{item.keyword }}</option>
                </select>
            </div>

    <div class="object-container">
        <a id="select-all" class="select-all" href="#">Seleccionar todos</a>
    </div>


    <ul class="items">
        <ng-container *ngFor="let patient of patients">
            <li class="item">
                <div class="item-info">
                    <figure>
                        <img class="img" [src]="patient.genero | avatarPatient" alt="icono de usuario">
                    </figure>
                    <h3 class="item-name">{{ patient.nombre }} {{ patient.ap_paterno}} {{ patient.ap_materno }}</h3>
                </div>
                <input class="check-box" type="checkbox" (change)="onChange(patient.id_paciente, $event.target.checked)">
            </li>
        </ng-container>
    </ul>


    <div class="object-container">
        <button class="btn btn-primary btn-submit" (click)="asignarTest()">Asignar</button>
    </div>

</div>