<div class="container set-test">
    <h2 class="title">Asignar test: <Span>Nombre de test</Span></h2>
    <div class= "object-container">
        <a id="select-all" class="select-all" href="#">Seleccionar todos</a>
    </div>   
    <ul class="items">
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/avatars/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
            </div>
            <input class= "check-box" type= "checkbox">
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/avatars/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
            </div>
            <input class= "check-box" type= "checkbox">
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/avatars/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
            </div>
            <input class= "check-box" type= "checkbox">
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/avatars/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
            </div>
            <input class= "check-box" type= "checkbox">
        </li>
        <li class="item">
            <div class="item-info">
                <figure>
                    <img class="img" src="assets/images/avatars/girl.png" alt="icono de usuario">
                </figure>
                <h3 class="item-name">Nombre completo de paciente</h3>
            </div>
            <input class= "check-box" type= "checkbox">
        </li>
    </ul>
    <div class="object-container">
        <button class="btn btn-primary btn-submit">Asignar</button>
    </div>
    
</div> 