<header>
    <nav class="navbar">
      <ul class="navbar-menu">
        <li><a class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/login">Inicio</a></li>
        <li><a class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/registerpatient">Agregar Test</a></li>
        <li class="search">
            <input class="form-control search-input" type="search" placeholder="Buscar paciente">
            <figure class="icon-search-container">
                <img class="img" src="assets/images/lupa.png" alt="Avatar">
            </figure>
        </li>
        <li>
            <figure class="avatar-container">
                <img class="img" src="assets/images/doctora.png" alt="avatar">
            </figure>
        </li>
      </ul>
    </nav>
  </header>
  