<header>
    <nav class="navbar">
        <figure class="menu-hamburguer" (click)="onClickMenu()">
        	<img *ngIf="!menuActive" class="img" src="assets/images/menu.svg" alt="menu">
        	<img *ngIf="menuActive" class="img" src="assets/images/close.svg" alt="menu">
    	</figure>
		<div class="search responsive">
			<input class="form-control search-input" type="search" placeholder="Buscar paciente">
			<figure class="icon-search-container">
				<img class="img" src="assets/images/lupa.png" alt="Avatar">
			</figure>
		</div>
      	<ul class="navbar-menu">
        	<li><a (click)="closeMenu()" class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/admin/home">Inicio</a></li>
        	<li><a (click)="closeMenu()" class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/admin/settest">Asignar Test</a></li>
        	<li class="search no-responsive">
            	<input class="form-control search-input" type="search" placeholder="Buscar paciente">
            	<figure class="icon-search-container">
            	    <img class="img" src="assets/images/lupa.png" alt="Avatar">
            	</figure>
        	</li>
        	<li >
            	<figure class="avatar-container no-responsive">
              	    <img class="img" src="assets/images/doctora.png" alt="avatar">
            	</figure>
        	</li>
      	</ul>
    </nav>
</header>