<loading-overlay *ngIf="isLoading"></loading-overlay>
<header>
    <nav class="navbar">
        <figure class="menu-hamburguer" (click)="onClickMenu()">
        	<img *ngIf="!menuActive" class="img" src="assets/images/icons/menu.svg" alt="menu">
        	<img *ngIf="menuActive" class="img" src="assets/images/icons/close.svg" alt="menu">
    	</figure>

		<div class="search responsive">
			<app-input-patients
				(onSend)="buscarPaciente( $event )"
				(onDebounce)="sugerencias( $event )">
			</app-input-patients>
					
			<figure class="icon-search-container">
				<img class="img" src="assets/images/icons/lupa.png" alt="Avatar">
			</figure>
			
			<ul *ngIf="mostrarSugerencias"
				class="list-group responsive">
				<li *ngFor="let paciente of sugerenciasPacientes"
					class="list-group-item responsive"
					(click)="onClickVerMas(paciente.username)">
					{{ paciente.nombre }}
				</li>
			</ul>
		</div>
		
      	<ul class="navbar-menu">
        	<li><a (click)="closeMenu()" class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/admin/home">Inicio</a></li>
        	<li><a (click)="closeMenu()" class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/admin/settest">Asignar Test</a></li>
			<li><a (click)="closeMenu()" class="navbar-link" routerLinkActive="navbar-link-active" routerLink="/admin/createtest">Crear Nuevo Test</a></li>
        	<li><a class="navbar-link" routerLinkActive="navbar-link-active" (click)="cerrarSesion()">Cerrar Sesión</a></li>
			<li class="search no-responsive">
            	<app-input-patients
					(onSend)="buscarPaciente( $event )"
					(onDebounce)="sugerencias( $event )">
				</app-input-patients>
            	<figure class="icon-search-container">
            	    <img class="img" src="assets/images/icons/lupa.png" alt="Avatar">
            	</figure>
				<ul *ngIf="mostrarSugerencias"
					class="list-group no-responsive">
					<li *ngFor="let paciente of sugerenciasPacientes"
						class="list-group-item"
						(click)="onClickVerMas(paciente.username)">
						{{ paciente.nombre }}
					</li>
				</ul>
        	</li>
        	<li >
            	<figure class="avatar-container no-responsive">
              	    <img class="img" src="assets/images/avatars/doctora.png" alt="avatar">
            	</figure>
        	</li>
      	</ul>
    </nav>
</header>


<div *ngIf="hayError; else mostrarBusqueda" class="alert error">
	<input type="checkbox" id="alert1"/>
<label class="close" title="close" for="alert1">
  <i class="icon-remove"></i>
</label>
	<p class="inner">
		<strong>Warning!</strong> No se encontró nada con el término {{ this.nombre }}
	</p>
</div>

<ng-template #mostrarBusqueda>
	<div *ngIf="patientsEncontrados" class="container">
		<li class="item" *ngFor="let patient of patientsEncontrados">
			<div class="item-info">
				<figure>
					<img class="img" [src]="patient.genero | avatarPatient" alt="icono de usuario">
				</figure>
				<h3 class="item-name">{{patient.nombre}} {{patient.ap_paterno}} {{patient.ap_materno}}</h3>
				<figure class="no-responsive">
					<img class="img" src="assets/images/icons/calendario.png" alt="estado de test">
				</figure>
			</div>
			<button class="btn btn-primary" (click)="onClickVerMas(patient.usuario)">Ver mas</button>
		</li>
	</div>
  </ng-template>
