<form [formGroup]="respuestaForm" autocomplete="off">

    <h4>
        Respuesta {{ arrayIndex + 1 }}
    </h4>
    <div class="row">
        <div>

            <!-- Input y validaciones para OPCION-->
            <div class="row">
                <label for="opcion">
                    Respuesta
                    <span *ngIf="opcionCampo?.hasError( 'required' ) && opcionCampo.touched">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="text" 
                       name="opcion" 
                       id="opcion"
                       formControlName="opcion">

                <div *ngIf="respuestaForm?.get( 'opcion' ).errors">
                    <span *ngIf="respuestaForm?.get( 'opcion' ).errors.minlength && puntosCampo.touched">
                        Tiene que tener por lo menos dos dígitos.
                    </span>
                </div>
                
                <div *ngIf="respuestaForm?.get( 'opcion' ).errors">
                    <span *ngIf="respuestaForm?.get( 'opcion' ).errors.maxlength && puntosCampo.touched">
                        Tiene que tener como máximo diez dígitos.
                    </span>
                </div>
            </div>

            <!-- Input y validaciones para PUNTOS-->
            <div class="row">
                <label for="puntos">
                    Puntos
                    <span *ngIf="puntosCampo?.hasError( 'required' ) && puntosCampo.touched">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="puntos" 
                       name="puntos" 
                       id="puntos"
                       formControlName="puntos">
                <span *ngIf="puntosCampo?.hasError( 'nonZero' ) && puntosCampo.touched">
                    Debe ser mayor o igual a cero.
                </span>
            </div>

            <!-- Input y validaciones para URL-->
            <div class="row">
                <label for="url_imagen">
                    Url de la imagen
                    <span *ngIf="urlCampo?.hasError( 'required' ) && urlCampo.touched">
                        Este es un campo requerido.
                    </span>
                </label>
                <input type="text" 
                       name="url_imagen" 
                       id="url_imagen"
                       formControlName="url_imagen">
                <span *ngIf="urlCampo?.hasError( 'pattern' ) && urlCampo.touched">
                    El url debe terminar en .jpg o .png
                    <br>
                    Ej: <i>https://angular.io/assets/images/logos/angular/logo-nav@2x.png</i>
                </span>
            </div>

            <button *ngIf="numRespuestas > 2"
                class="btn btn-danger"
                type="button"
                (click)="eliminarRespuesta( arrayIndex )">
                Eliminar
            </button>

        </div>
    </div>
</form>