<div class="container">
    <div class="info-patient">
      <h1>Nombre completo del paciente</h1>
      <h2>No. Expediente: <span>123456</span></h2>
    </div>
    <section >
      <div class="container-tasks patient">
        <table class="table">
          <caption class="title">
            Pendientes del paciente
          </caption>
          <thead>
            <th class="table-head">Evaluación</th>
            <th class="table-head">Fecha</th>
          </thead>
          <tbody>
            <tr class="table-row task" (click)="onAnswerTest()">
              <td class="table-column">Test de <span>...</span></td>
              <td class="table-column">dd/mm/aaaa</td>
            </tr>
            <tr class="table-row task" (click)="onAnswerTest()">
              <td class="table-column">Test de <span>...</span></td>
              <td class="table-column">dd/mm/aaaa</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="history-test">
      <table class="table">
        <caption class="title">
          Historial de evaluaciones
        </caption>
        <thead>
          <th class="table-head">Test</th>
          <th class="table-head">Puntaje</th>
          <th class="table-head">Nivel</th>
          <th class="table-head">Fecha</th>
          <th class="table-head">Psicólogo</th>
        </thead>
        <tbody>
          <tr class="table-row info">
              <td data-th="Test:" class="table-column">Nombre de test <span></span></td>
              <td data-th="Puntaje:" class="table-column"> # puntos</td>
              <td data-th="Nivel:" class="table-column">Nivel Obtenido</td>
              <td data-th="Fecha:" class="table-column">dd/mm/aaaa</td>
              <td data-th="Psicólogo:" class="table-column">Nombre de Psicólogo</td>
          </tr>
          <tr class="table-row info">
              <td data-th="Test:" class="table-column">Nombre de test <span></span></td>
              <td data-th="Puntaje:" class="table-column"> # puntos</td>
              <td data-th="Nivel:" class="table-column">Nivel Obtenido</td>
              <td data-th="Fecha:" class="table-column">dd/mm/aaaa</td>
              <td data-th="Psicólogo:" class="table-column">Nombre de Psicólogo</td>
          </tr>
          <tr class="table-row info">
              <td data-th="Test:" class="table-column">Nombre de test <span></span></td>
              <td data-th="Puntaje:" class="table-column"> # puntos</td>
              <td data-th="Nivel:" class="table-column">Nivel Obtenido</td>
              <td data-th="Fecha:" class="table-column">dd/mm/aaaa</td>
              <td data-th="Psicólogo:" class="table-column">Nombre de Psicólogo</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  