<loading-overlay *ngIf="isLoading"></loading-overlay>

<div class="container" *ngIf="patient">
    <div class="info-patient">
      <h1>{{ patient.nombre}} {{patient.ap_paterno}} {{patient.ap_materno}}</h1>
      <h2>No. Expediente:  <span> {{ patient.no_expediente }} </span></h2>
    </div>
    <section >
      <div class="container-tasks patient">
        <table class="table">
          <caption class="title">
            Pendientes del paciente
          </caption>
          <thead>
            <th class="table-head">Evaluación</th>
            <th class="table-head">Fecha</th>
          </thead>
          <tbody>
            <ng-container *ngFor= "let hist of historial">
              <tr *ngIf="hist.puntaje===null" class="table-row task" (click)="onAnswerTest(hist.id_test, hist.id_historial, hist.id_paciente)">
                <td class="table-column"> Test de {{ hist.id_test | nombreTest }} </td>
                <td class="table-column"> {{ hist.f_asignacion | date }} </td> <!--  Agregar el router link para que al dar click se active el test necesario  -->
              </tr>
            </ng-container>  
          </tbody>
        </table>
      </div>
    </section>
    <section class="history-test">
      <table class="table">
        <caption class="title">
          Historial de evaluaciones
        </caption>
        <thead>
          <th class="table-head">Test</th>
          <th class="table-head">Puntaje</th>
          <th class="table-head">Fecha de asignación</th>
          <th class="table-head">Fecha de resolución</th>
          <th class="table-head">Psicólogo</th>
        </thead>
        <tbody>
          <ng-container *ngFor= "let hist of historial">
            <tr *ngIf="hist.puntaje!==null" class="table-row info">
                <td data-th="Test:" class="table-column"> Test de {{ hist.id_test | nombreTest }} <span></span></td>
                <td data-th="Puntaje:" class="table-column"> {{hist.puntaje}} </td>
                <td data-th="Fecha de asignación:" class="table-column">{{hist.f_asignacion | date }}</td>
                <td data-th="Fecha de resolución:" class="table-column">{{hist.f_fin | date }}</td>
                <ng-container *ngIf="admins">  
                <td data-th="Psicólogo:" class="table-column"> {{ hist.id_admin | psicNombre : admins }} </td>
                <button class="btn btn-primary" (click) = "score(hist.id_test, hist.id_historial, hist.id_paciente,hist.id_test)">Ver resultados</button>
                </ng-container>
            </tr>
          </ng-container>  
        </tbody>
      </table>
    </section>
  </div>
  