/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Open Sans';
}
.btn{
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px; 
}
/* Reset properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #056665;
}
.navbar-menu{
    display: flex;
    justify-content: flex-end;
}
.navbar-menu li{
    list-style: none;
}
.navbar-link{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 19px;
    color: #e1e1e1;
    text-decoration: none;
    padding: 17px 15px;
    transition: color 0.3s ease-in-out;
}   
.navbar-link:hover{
  color: #70AF85;
}
.navbar-link-active{
    border: none;
    border-bottom: 5px solid #C6EBC9;
}
/* user 1 */

/*Login*/
.formulario{
    margin: 50px auto 0 auto;
    width: 350px;
}

@media screen and (max-width: 768px){
    .formulario{
        margin-top: 50px;
        width: 500px;
        height: 689px;
        text-align: center;
    }
}

.img-container{
    width: 128px;
    margin: 20px auto 30px auto;
    position: relative;
    border-radius: 5px
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.3);
}

/* Login */
.contenedor{
    width: 100%;
    padding: 30px;
    background-color:#04838C;
    border-radius: 10px;  
}

.input-contenedor{
    margin: 0 0 25px 0;
    font-size: 20px;
    background: #EAFFD0;
    border-radius: 10px; 
    position: relative;
   
}

.form-control{
    color: #6C757D;
    background: #EAFFD0;
    font-size: 18px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-right: 40px;
}

.form-control-icon{
    width: 28px;
    position: absolute;
    top: 12px;
    right: 7px;
    z-index: 100;
}   

.btn-submit{
    margin: 20px 0 20px 0;
    background-color:rgba(0, 0, 0, 0.301);
}

.btn-submit:hover{
    background-color:#1f4253;
    text-decoration: none;
}

.link{
    text-align: right;
}



