<loading-overlay *ngIf="isLoading"></loading-overlay>

<div class="container" *ngIf="patient">
    <div class="container-info-patient">
        <figure>
            <img class="img" [src]="patient?.genero|avatarPatient" alt="avatar de paciente">
        </figure>
        <div class="info-patient">
            <h1>{{patient?.nombre}} {{patient?.ap_paterno}} {{patient?.ap_materno}}</h1>
            <h2>No. Expediente: <span>{{patient?.no_expediente}}</span></h2>
        </div>
    </div>
    <section class="history-test">
        <table class="table">
            <caption class="title">Historial de evaluaciones</caption>
            <thead>
                <th class="table-head">Test</th>
                <th class="table-head">Puntaje</th>
                <th class="table-head">Nivel</th>
                <th class="table-head">Fecha</th>
                <th class="table-head">Psicólogo</th>
            </thead>
            <tbody>
                <ng-container *ngIf= "admins" >
                    <ng-container *ngFor= "let hist of historial">
                        <tr *ngIf="hist.puntaje!==null" class="table-row task">
                            <td data-th="Test:" class="table-column"> Test de {{ hist.id_test | nombreTest }} </td>
                            <td data-th="Puntaje:" class="table-column"> {{ hist.puntaje }} </td>
                            <td data-th="Nivel:" class="table-column">Nivel Obtenido</td>
                            <td data-th="Fecha:" class="table-column"> {{ hist.f_asignacion | date }} </td>
                            <td data-th="Psicólogo:" class="table-column"> {{ hist.id_admin | psicNombre : admins }} </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </section>

    <section class="aditional-info">
        <div class="container-tasks">
            <table class="table">
                <caption class="title">Pendientes del paciente</caption>
                <thead>
                    <th class="table-head">Evaluación</th>
                    <th class="table-head">Fecha</th>
                </thead>
                <tbody>
                    <ng-container *ngFor= "let hist of historial">
                        <tr *ngIf="hist.puntaje===null" class="table-row info">
                            <td class="table-column">Test de {{ hist.id_historial | nombreTest }} </td>
                            <td class="table-column">{{ hist.f_asignacion | date }}</td>
                        </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
        <div class="container-parent">
            <h2 class="title">Cuidador primario informal</h2>
            <div class="target">
                <p>Nombre: <span>{{carer?.nombre_completo}}</span></p>
                <p>Parentesco: <span>{{carer?.parentesco}}</span></p>
                <p>Contacto: <span>{{carer?.telefono}}</span></p>
            </div>
        </div>
    </section>
</div>
