<div class="container">
    <div class="container-info-patient">
        <figure>
            <img class="img" src="assets/images/girl.png" alt="avatar de paciente">
        </figure>
        <div class="info-patient">
            <h1>Nombre completo del paciente</h1>
            <h2>No. Expediente: <span>123456</span></h2>
        </div>
    </div>
    <section class="history-test">

        <table class="table">
            <caption class="title">Historial de evaluaciones</caption>
            <thead>
                <th class="table-head">Test</th>
                <th class="table-head">Puntaje</th>
                <th class="table-head">Nivel</th>
                <th class="table-head">Fecha</th>
            </thead>
            <tbody>
                <tr class="table-row">
                    <td class="table-column">Spence <span></span></td>
                    <td class="table-column"> # puntos</td>
                    <td class="table-column">Nivel Obtenido</td>
                    <td class="table-column">dd/mm/aaaa</td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">Spence <span></span></td>
                    <td class="table-column"> # puntos</td>
                    <td class="table-column">Nivel Obtenido</td>
                    <td class="table-column">dd/mm/aaaa</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="aditional-info">
        <div class="container-tasks">
            <table class="table">
                <caption class="title">Pendientes del paciente</caption>
                <thead>
                    <th class="table-head">Evaluación</th>
                    <th class="table-head">Fecha</th>
                </thead>
                <tbody>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column">Test de <span>...</span></td>
                        <td class="table-column">dd/mm/aaaa</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-parent">
            <h2 class="title">Cuidador primario informal</h2>
            <div class="target">
                <p>Nombre: <span>Nombre completo del cuidador</span></p>
                <p>Parentesco: <span>Parentesco</span></p>
                <p>Contacto: <span>Número telefónico</span></p>
            </div>
        </div>
    </section>
</div>
